.div{
    text-align:center;
    font-size:x-large;
}

img{
    margin:0 auto;
    width: 50%;
}

.logo{
    height: 200px;
    width: 200px;
}

.error-output{
    color: red;
    font-size: 12px;
    margin-left: 10px;
    font-style: italic;
}